@use "../../styles/mixins";

.categoryCardWrapper {
  position: relative;
  overflow: hidden;

  &:hover {
    .catImgWrapper {
      scale: 1.05;
    }
  }
  .catImgWrapper {
    height: 290px;
    background-image: url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    transition: 0.4s;

    @media (max-width: 450px) {
      height: 230px;
    }
  }

  .categoryLink {
    @include mixins.blueButton;
    position: absolute;
    margin: 1rem;
    bottom: 0;
  }
}
