@use "../../styles/mixins";
@import "../../styles/variables";

.CartWrapper {
  position: fixed;
  background: white;
  right: 0px;
  top: 180px;
  width: 500px;
  height: calc(100vh - 180px);
  font-family: $normalFont;
  display: flex;
  flex-direction: column;
  box-shadow: -20px 10px 50px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;

  @media (max-width: 550px) {
    width: 100%;
  }

  &.hide {
    top: -70vh;
  }

  .CartHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-inline: 2rem;
    margin-top: 2rem;
    border-bottom: 2px solid $gray;

    h1 {
      font-size: 18px;
    }

    .fa-xmark {
      cursor: pointer;
    }
  }

  .CartItemContainer {
    overflow: scroll;
    border-bottom: 2px solid $gray;
    margin-inline: 2rem;
    flex: 1;
  }

  button.buy {
    @include mixins.blueButton;
    border: 0;
    cursor: pointer;
    margin: 2rem;
  }
}
