@import './variables';
@mixin blueButton {
        color: white;
        text-decoration: none;
        font-family: Odibee Sans;
        font-size: 24px;
        display: flex;
        align-items: center;
        background: linear-gradient(140deg, #004c8e 0%, #0066bf 30%, rgba(0,143,191,1) 80%, #004c8e 100%, ) var(--x, 30%)/ 200%;
        height: 45px;
        width: 190px;
        padding-left: 1rem;
        transition: .1s ease-in-out;

        &:hover {
         --x: 10%;
        }
}
@mixin whiteButton {
        color: $darkGray;
        border: 1px solid $darkGray;
        text-decoration: none;
        font-family: Odibee Sans;
        font-size: 24px;
        display: flex;
        align-items: center;
        background: transparent;
      
        
        height: 45px;
        width: 190px;
        padding-left: 1rem;
        transition: .1s ease-in-out;

        &:hover {
                opacity: .8;
        }
}