$darkGray: rgb(35, 35, 35);
$gray: rgb(54, 54, 54);
$infoGray: gray;
$borderGray: rgb(231, 231, 231);
$blue: #0066bf;
$yellow: rgb(237, 197, 1);


$linearBlue: linear-gradient(140deg, rgba(0,102,191,1) 0%, rgba(0,143,191,1) 100%);
$linearBlueDarker: linear-gradient(140deg, rgb(2, 95, 176) 0%, rgb(2, 137, 183) 100%);
