.homeWrapper {
  padding-top: 170px;
  .homeBanner {
    // height: 400px;
    height: 25vw;
    background-image: url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position-y: calc(50% + 20%);

    @media (max-width: 850px) {
      height: 35vw;
    }
    @media (max-width: 550px) {
      height: 60vw;
    }
  }

  .categoriesOutput {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 5rem;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 550px) {
      margin: 2rem;
    }
  }
}
