.surfDetailsWrapper {
  padding-top: 170px;

  display: flex;
  flex-basis: auto;
  
  .surfLeft {

    
    .productImgWrapper {
      height: 50vh;
      width: 50vw;
      background-image: url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
      background-size: contain;
      scale: 0.96;

      background-position: 50%;
      background-repeat: no-repeat;
      transition: 0.4s;
    }
  }

  h1 {
    color: black;
  }
}
