@import '../../styles/variables';

.Navbar {
   height: 180px;
   width: 100%;
   background-color: white;
   position: fixed;
   z-index: 3;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-inline: 3rem;
   gap: 4rem;
   box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);


   .logo {
    height: 160px;
    width: 160px;
    background-image: url(../../assets/images/surf-logo.png);
    background-size: contain;
   }

   .Nav {
    list-style: none;
    display: flex;
    gap: 4rem;

    a {
        color: $darkGray;
        text-decoration: none;
        transition: .3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }

       
    }

    .active {
        text-decoration: underline;

    }

    .redFont {
        color: red;
    }

    .cartLink {
        position: relative;
        cursor: pointer;
        .cartCount {
            position: absolute;
            opacity: 1;
            width: 20px;
            height: 20px;
            background-color: red;
            border-radius: 50%;
            font-family: $normalFont;
            color: white;
            top: -12px;
            right: -12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 800;
            transition: .3s ease-in-out;
        }

        .hide {
            opacity: 0;
            top: 0px;
            right: 0px;
        }
    }




   }
}